@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700&display=swap");
@media (max-width: 59.3125em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 59.375rem) {
  .hide-for-desktop {
    display: none;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Karla', sans-serif;
}

a, a:visited, a:hover {
  text-decoration: none;
}

body {
  margin: 0;
}

form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.question {
  color: #293264;
  font-weight: 700;
  font-size: 0.85rem;
  width: 95%;
  max-width: 1000px;
  padding: 2rem 0;
  border-bottom: solid 1px #D6DBF5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 40em) {
  .question {
    font-size: 1.2rem;
  }
}

.question h2 {
  font-weight: 700;
  margin: 0;
}

.question-options {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
  /*
        causes a visual bug that causes the options to 
        appear selected when restarting a game

        &>input[type="radio"]:checked + label{
            background-color: $button;
            color: $white;
        }
        */
}

@media (min-width: 40em) {
  .question-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.question-options > input[type="radio"] {
  display: none;
}

.question-options > label {
  border: solid 1px #4D5B9E;
  border-radius: 8px;
  padding: 0.5rem;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}

.question-options > label.correct {
  background-color: #94D7A2 !important;
  color: #293264 !important;
  border: solid 1px transparent;
}

.question-options > label.incorrect {
  background-color: #F8BCBC !important;
  color: #293264 !important;
  border: solid 1px transparent;
  opacity: 0.5;
}

.question-options > label.chosen {
  background-color: #4D5B9E;
  color: #fff;
}

.question-options > label.notChosen {
  opacity: 0.5;
}

.question-options > label:hover {
  border: solid 1px transparent;
  background-color: #D6DBF5;
}

.question-options > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
}

.button {
  color: #293264;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: #4D5B9E;
  color: #fff;
  border: none;
  max-width: 200px;
  border-radius: 8px;
  padding: 0.5rem;
}

.button:hover {
  background-color: #D6DBF5;
  color: #293264;
  cursor: pointer;
}

.answersChecked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  color: #293264;
  font-size: 0.85rem;
  position: relative;
}

@media (min-width: 40em) {
  .answersChecked {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    font-size: 1.2rem;
  }
}

.answersChecked > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
}
/*# sourceMappingURL=index.css.map */